
.boxPagCompleta{
  width: 0 auto;
  margin: 50px;
  padding: 0 auto;
  background:
}




/* EL TITULO Y EL CONCEPTO */
.box01{

}
.boxtitulo{
  display: "block";
   line-height: 0.1;
   font-size: auto;
}

.COLLAGE{
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 80%;
    max-width: 80%;
    height: 80%;
}




/* PRESENTACION DE LA COMUNIDAD ¿PARA QUIEN? */
.boxVideo{
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.video{
  width: 80%;
  height: 80%;
  margin: auto;
}

.boton{
  display: block;
  display: none;
}


.boxtitulo02{
  line-height: 0.2;
}

.link{
  color: #ffba08;
  text-align: center;
  font-style: "Brush Script MT", cursive;
  line-height: 50px;
  margin: auto;
}





/* PRESENTACION DEL CONTENIDO ¿PORQUE? */
.listado{
  font-size: 15px;
  font-style: "Times New Roman";
  line-height: 5px;

}





/* PRESENTACION DEL CONTENIDO ¿PORQUE? */
.esquemaemplazamiento{
  width: 80%;
  height: 80%;

}



/* VIÑETA */
.fixed{
  position: fixed;
  bottom: 0;
  right: 0;
  width: 200px;
  height: 50px;
  background-color: #28235D;
  align-content: center;
}

.Viñeta{
  color: white;
  font-size: 10px;
  font-style: "Times New Roman";
  align-content: center;
}


/*ESTILO DE LA BOX PARRAFOS */
.boxP{

}




/* estilo */

h1{
  color: #ffba08;
  text-align: center;
  font-size: 120px ;
  font-family: "Brush Script MT", cursive;
  line-height: 0.7;
}

h2{
  color: #ffba08;
  text-align: center;
  font-size: 70px;
  font-style: "Times New Roman";
    line-height: 0.7;
}

h3{
  color: #28235D;
  text-align: center;
  font-size: 50px;
  font-style: "Times New Roman";
}

h4{
  color: #28235D;
  text-align: center;
  font-size: 30px;
  font-style: "Times New Roman";
}

a{
  color: #ffba08;
  font-style: "Brush Script MT", cursive;
  line-height: 5px;
  font-size: 30px;
  margin: auto;
  text-align: center;
}

p {
  width: 700px;
  height: 100%;
  color: #28235D;
  font-style: "Times New Roman";
  line-height: 50px;
  font-size: 20px;
  text-align: justify;
  text-justify: inter-word;
}
img{
  display: block;
  margin: auto;
  width: 100%;
  height: 100%;
}




/* ESTRUCTURA Y ORDEN DE LA PAGINA */
.container {
  width: 100%;
  margin:auto;
}


.conteiner--flex{
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

}


.column{
  width: 100%
}
.column--80{
  width: 80%;
}

.column--20{
  width: 20%;
}


.column--25{
  width: 24%;
  margin: 3px;
  cursor: pointer;
  transition: all 0,5s;
}

.column--25:hover {
  transform: scale(1.05);
}

.column--33{
  width: 32%;
  height: 32%;
  text-align: center;
  cursor: pointer;
  transition: all 0,5s;
}

.column--33:hover {
  transform: scale(1.05);
}


/*ESTILO DE LA GALERIA MODAL */

.modal.{
  width: 100%;
  min-height: 100vh;
  background: rgba(16, 0, 43,0.9);
  position:fixed;
  top:0;
  left: 0;
  z-index: 1000000;
  display: none;
}

.modal__content{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.modal__img{
  width: 70%;
  height: 80%;
  margin: 0;
  justify-content: center;
  align-items: center;
}

.modal__boton{
  position: absolute;
  top: 10px;
  right: 10px;
  color:#ffba08;
  cursor: pointer;
  font-weight: bold;
  width: 50px;
  height: 50px;
  line-height: :50px;
  font-size: 2em;
  text-align: center;
  border-radius: 50%;
}

.modal__botonNext{
  position: absolute;
  top: 45%;
  right: 30px;
  color:#ffba08;
  cursor: pointer;
  font-weight: bold;
  width: 50px;
  height: 50px;
  line-height: :50px;
  font-size: 4em;
  text-align: right;
  border-radius: 50%;
}


.modal--open{
  display: block;
}

.imagen__img{
  justify-content: center;
  align-items: center;

}
